

<div class="list_person">
  <table class="tbl_main">
    <tr>
      <th align="left">客户姓名</th>
      <th align="left">城市</th>
      <th align="left">网店</th>
      <th align="left">备注</th>
      <th align="left">账户余额</th>
      <th align="left">操作</th>
    </tr>

    <range source=".Customers" >
      {{if . != nil}}
      <tr>
        <td><a href="/person/detail/{{.Id}}" >{{.Name}}</a></td>
        <td>{{.City}}</td>
        <td><a href="{{.Website}}">{{.Website}}</a></td>
        <td>{{.Note}}</td>
        <td>{{.AccountBallance}}</td>
        <td>
          {{/* TODO: ajax get latest value. */}}
          {{t_order_batchclose $ "CustomerId" .Id }}
          <a href="/person/EditAccountBallance/{{.Id}}" target="_blank">
            【修改账户余额(累计欠款)】</a>
        </td>
      </tr>
      {{end}}
    </range>
  </table>
  
  <div class="pager_main"><a class="btn_c_s" href="#">首页</a><span><a href="#">1</a><a href="#">2</a><a class="cur" href="#">3</a><a href="#">4</a><a href="#">5</a></span><a class="btn_c_s" href="#">末页</a></div>
</div>
