<!DOCTYPE HTML>
<html>
  <head>
    <link href="/static/css/pages/pg_create_order.css" rel="stylesheet" type="text/css">
    <t:layout.header title="print .SubTitle `订单`" />
    <script type="text/javascript" src="/static/js/c/product_cst_generator.js"></script>
    <script type="text/javascript" src="/static/js/p/order/order_create_detail.js"></script>
  </head>
  <body class="PG_create_order">
    <t:layout.headernav />
    <div class="container">
      <t:layout.leftnav curpage="/order/create" />
      
      <div class="main_content">
    	<h1>{{.SubTitle}}订单</h1>
        <div class="B_order_step2"></div>

        <form method="POST" id="OrderDetailForm" onkeydown="return(event.keyCode!=13)">
          <input type="hidden" name="Order.TrackNumber" value="{{.Order.TrackNumber}}" />
          <input type="hidden" name="Order.Status" value="{{.Order.Status}}" />
          {{/* TODO Here, too many hidden fields, some of these are parsed through url */}}
          <input type="hidden" name="Order.Type" value="{{.Order.Type}}" />
          <input type="hidden" name="Order.ParentTrackNumber" value="{{.Order.ParentTrackNumber}}" />

          <input id="returnthispage" type="hidden" name="ReturnThisPage" value="true" />

          <!-- 客户信息 -->
          <!-- < t:order.customerinfo customer=".Customer" /> -->
          <h2 style="margin:8px 0">
            <a href="/person/detail/{{.Customer.Id}}" target="blank">{{.Customer.Name}}</a>
            <span style="font-size:13px;color:gray"> 累计欠款：{{.Customer.AccountBallance}}</span>
            <if t="not .IsDaifa">
              <input type="button" class="btn_a_s" value="临时保存" onclick="tempsave();"
                     style="margin-left:20px;">
            </if>
            
          </h2>
          <t:order.productselector customerId=".Customer.Id" />

          <div class="">
            <t:order.detailsform />
          </div>
          <!-- ------------------------------- -->
          <div class="unit">
            <div class="tit"><strong>发货方式</strong></div>
            <div class="B_express">
              <div class="choose_express">
                <label>
                  <input type="radio" name="Order.DeliveryMethod" value="YTO" />
                  <span class="icon_yto"></span>
                </label>
                <label>
                  <input type="radio" name="Order.DeliveryMethod" value="SF" />
                  <span class="icon_sf"></span>
                </label>
                <label>
                  <input type="radio" name="Order.DeliveryMethod" value="Deppon" />
                  <span style="font-size: 14px;vertical-align:middle;">德邦</span>
                </label>
                <label>
                  <input type="radio" name="Order.DeliveryMethod" value="Freight" />
                  <span style="font-size: 14px;vertical-align:middle;">货运</span>
                </label>
                <label>
                  <input type="radio" name="Order.DeliveryMethod" value="TakeAway" />
                  <span class="icon_pickup"></span>
                </label>
              </div>
              {{/* >>>> 注释掉，简化流程 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
              <div class="B_fare">
                运费：<input type="text" size="10" class="express-fee"
                             name="Order.ExpressFee" value="{{.Order.ExpressFee}}" /> 
			    <label><input type="checkbox" class="daofu" name="DaoFu" /> 到付</label>
              </div>
              -------------------------------------------------------------------------------- */}}
              {{if .ShowAddress}}
              <div class="B_fare">
                发货地址：
                <textarea rows="2" cols="80" class="express-fee"
                          name="Order.ShippingAddress">{{.Order.ShippingAddress}}</textarea> 
              </div>
              {{end}}
              
            </div>
          </div>
          
	      <div class="unit">
            <div class="tit"><strong>订单备注</strong></div>
	        <div class="B_order_remark">
		      <textarea rows="4" name="Order.Note">{{.Order.Note}}</textarea>
	        </div>
	      </div>
          <div class="btn_content">
            <if t="not .IsDaifa">
              <input type="button" class="btn_a_l" value="临时保存" onclick="tempsave();">
            </if>
            <input type="submit" class="btn_a_l" value="{{.SubmitButton}}">
          </div>
        </form>
      </div>

    </div>
  </body>
</html>

<script type="text/javascript">
  $(function(){
    ocd = new OrderCreateDetail({{.CustomerId}})
    
    {{if .IsEdit}}
    // Restore information
    ocd.setExpress("{{.Order.DeliveryMethod}}", {{.Order.ExpressFee}})
    ocd.odf.setData({{.ProductDetailJson}})
    {{end}}
    
  });

// submit to return this page;
function tempsave(){
  form = $("#OrderDetailForm")
  btn = $("#returnthispage")
  if(btn){
    btn.val("saveonly")
  }
  // console.log(btn.val())
  form.submit()
}
</script>
