<table border="1" style="border:solid 1px black;border-collapse: collapse;cell-padding:8px;margin:16px;"
       cellpadding="4">
  <th>
    {{range $p := .Data.ProductLabel }}
    {{with $product := $.GetProduct $p}}
    <td>{{$product.ProductId}} - {{$product.Name}}</td>
    {{end}}
    {{end}}
    <td>合计</td>
  </th>
  
  {{range $d := .Data.SortedDateLabel }}
  <tr>
    <td style="width:78px;">{{$d}}</td>
    {{range $p := $.Data.ProductLabel }}<td>{{$.GetData $d $p}}</td>{{end}}
    <td>{{$.Data.SumDate $d}}</td>
  </tr>
  {{end}}
  
  <tr>
    <td>合计:</td>
    {{range $p := $.Data.ProductLabel }} <td>{{$.Data.SumProduct $p}}</td> {{end}}
    <td> - </td>
  </tr>
  
</table>
