
<div class="left_menu">
  <dl>
    <dt>订单管理</dt>
    <dd class="{{.Style `/order/create` }}"><a href="/order/create">新增订单</a></dd>
    <dd class="{{.Style `/order/list` }}"><a href="/order/list">订单列表</a></dd>
    <dd class="{{.Style `/order/query` }}"><a href="/order/query">订单查询</a></dd>
    
    <hide reason="-------------------------------------------------">
      <dd class="{{.Style `/order/shippinginsteadlist` }}">
        <a href="/order/shippinginsteadlist">代发订单列表</a>
      </dd>
    </hide>

  </dl>
  <div class="hrline"></div>
  <dl>
    <dt>商品管理</dt>
    <dd class="{{.Style `/product/create` }}"><a href="/product/create">新增商品</a></dd>
    <dd class="{{.Style `/product/list` }}"><a href="/product/list">商品列表</a></dd>
    <dd class="{{.Style `/inventory` }}"><a href="/inventory">库存管理</a></dd>
    <dd class="{{.Style `/placeorder` }}"><a href="/placeorder">下单管理</a></dd>
    <dd class="{{.Style `/product/change` }}"><a href="/product/change">退换货管理</a></dd>
  </dl>
  <div class="hrline"></div>
  <dl>
    <dt>联系人管理</dt>
    <dd class="{{.Style `/person/edit` }}"><a href="/person/edit">新增联系人</a></dd>
    <dd class="{{.Style `/person/list/customer` }}"><a href="/person/list/customer">客户列表</a></dd>
    <dd class="{{.Style `/person/list/factory` }}"><a href="/person/list/factory">厂家列表</a></dd>
  </dl>

  <div class="hrline"></div>
  <dl>
    <dt>豆包统计</dt>
    <dd class="{{.Style `/stat/today` }}"><a href="/stat/today">今天</a></dd>
    <dd class="{{.Style `/stat/productsold` }}"><a href="/stat/productsold">产品销量分析</a></dd>
    <dd class="{{.Style `/stat/trend` }}"><a href="/stat/trend">趋势分析</a></dd>
    <dd class="{{.Style `/stat/more` }}"><a href="/stat/more">MORE</a></dd>
  </dl>

  <dl>
    <dt>系统管理</dt>
    <dd class="{{.Style `/admin/preference` }}"><a href="/admin/preference/test">参数设置</a></dd>
    <dd class="{{.Style `/admin/staff` }}"><a href="/admin/staff">Staff Management</a></dd>
    <dd class="{{.Style `/product/list` }}"><a href="/product/list">Products</a></dd>
  </dl>
  
  <t:delegate name="changelog" />
  <div class="hrline"></div>
  <!-- <dl> -->
  <!--   <dt>Change Log</dt> -->
  <!--   <dd>2014-04-20:<br> <a>登陆系统，访问权限控制</a></dd> -->
  <!--   <dd>2013-08-24:<br> <a>首页：一周销量统计</a></dd> -->
  <!--   <dd>2013-08-24:<br> <a>Refactor Core Flow!</a></dd> -->
  <!--   <dd>2013-08-13:<br> <a>可以删除订单!</a></dd> -->
  <!--   <dd>2013-08-13:<br> <a>可以修改账户余额!</a></dd> -->
  <!-- </dl> -->

</div>

<t:block id="changelog">
</t:block>
