<!DOCTYPE HTML>
<html>
  <head>
    <link href="/static/css/pages/pg_list_inventory.css" rel="stylesheet" type="text/css">
    <t:layout.header title="厂家结账" />
  </head>
  <body class="PG_list_inventory">
    <t:layout.headernav />

    <div class="container">
      <t:layout.leftnav curPage="/inventory" />

      <h2>测试结账表格：</h2>

      <!-- Search Form -->
      <form method="POST" id="SearchForm" t:id="SearchForm" name="SearchForm"
            class="search_form ng-cloak" novalidate>
        <input type="hidden" name="t:id" value="SearchForm" />

		<h2>查询</h2>
		<div class="search_filter">
          <input class="" type="text" name="Provider" value="{{.Provider}}" />
          17-罗清元；16-黄楚辉；18-林琦雁；283-张志新；287-小震；288-老段；
          <div class="flt_line">
            发货时间:
            从 <input class="inp_calendar" type="date"
                      name="TimeFrom" value="{{.TimeFrom | smartvaliddate}}" />  
            到 <input class="inp_calendar" type="date"
                      name="TimeTo" value="{{.TimeTo | smartvaliddate}}" />
            
            <input type="submit" value="搜索" class="btn_a_s" />
            <input t:type="a" event="ClearForm" label="清除" class="btn_b_s" />
            
            <span style="margin-left:20px;">
              <a href="###">今天</a> ,
              <a href="###">一周</a> ,
              <a href="###">一月</a> ,
              <a href="###">一年</a> Todo
            </span>
          </div>

          <div class="flt_line">
            <span class="txt_c">日期格式： <strong>'2012-09-30'</strong>.</span>
          </div>
          <div class="flt_line">
          </div>
        </div>
      </form>
      <!-- End Search Form -->
      
      <table border="1" style="border:solid 1px black;border-collapse: collapse;cell-padding:8px;margin:16px;"
             cellpadding="4">
        <th>
          {{range $p := .Data.ProductLabel -}}
          {{with $product := $.GetProduct $p}}
          <td>{{$product.ProductId}} - {{$product.Name}}</td>
          {{end}}
          {{end}}
          <td>合计</td>
        </th>
        
        {{range $d := .Data.SortedDateLabel -}}
        <tr>
          <td style="width:78px;">{{$d}}</td>
          {{range $p := $.Data.ProductLabel -}}<td>{{$.GetData $d $p}}</td>{{end}}
          <td>{{$.Data.SumDate $d}}</td>
        </tr>
        {{end}}
        
        <tr>
          <td>合计:</td>
          {{range $p := $.Data.ProductLabel -}} <td>{{$.Data.SumProduct $p}}</td> {{end}}
          <td> - </td>
        </tr>
        
      </table>
    </div>

  </body>
</html>


