<!DOCTYPE HTML>
<!--
    Time-stamp: <[InventoryEdit.html] Elivoa @ Monday, 2015-03-09 12:56:59>
    NG-enabled;
  -->
<html ng-app="syd">
  <head>
    <link href="/static/css/pages/pg_inventory_edit.css" rel="stylesheet" type="text/css">
    <t:layout.header title="新增入库" ng="true"/>
    <script src="/static/js/p/inventory/inventory_edit_ng.js" ></script>
  </head>

  <body ng-controller="InventoryEditCtrl" class="PG_edit_inventory">
    <t:layout.headernav />

    <div class="container ">
      <t:layout.leftnav curPage="/inventory" />

      <div class="main_content">

        {{with .InventoryGroup}}

        <form method="POST" name="InventoryForm" ng-submit="submit()" action=""
              t:id="InventoryForm" novalidate>
          <input type="hidden" name="t:id" value="InventoryForm" />
          <input type="hidden" name="InventoryGroup.Id" value="{{.Id}}" />
          <input type="hidden" name="InventoriesJson" value="[[Inventories]]" />

          <div class="unit">
            <div class="tit"><strong>{{$.SubTitle}}入库 [<span>组ID : {{.Id}}</span>]</strong></div>
            <div class="form_main">
              
              <div style="padding:8px;margin:4px;" class="">              

                <div style="margin:8px 8px 16px 8px;">
                  <label>
                    厂家： <input type="text" ng-model="InventoryGroup.ProviderId" class="ghost"/>
                    <select ng-model="InventoryGroup.ProviderId"
                            ng-options="factory.Id as factory.Name for factory in Factories"
                            required></select>
                  </label>
                  <label>
                    发货时间：
                    <input type="date" ng-model="InventoryGroup.SendTime"/> （票日期）
                  </label>
                  <label>
                    到货时间： （无效；提交后自动加2天）
                    <input type="date" ng-model="InventoryGroup.ReceiveTime" />
                  </label>
                </div>
                
                <t:inventory.productselector GroupId=".Id" inventories=".Inventories" />
              </div>
              
            </div>
          </div>

          <div class="unit">
            <div class="tit"><strong>其他信息</strong></div>
            <div class="form_main">
              <dl class="clearfix">
                <dt>备注：</dt>
                <dd>
                  <textarea ng-model="InventoryGroup.Note" cols="80" rows="4"></textarea>
                </dd>
                <dd></dd>
              </dl>
            </div>
          </div>
          <div class="btn_content">
            <!-- <input type="button" class="btn_b_l" value="返回列表" -->
            <!--        onclick="window.location.href='/inventory'"/> -->
            <input type="button" class="btn_a_l" value="提交" ng-click="submit(InventoryForm)"
                   xxonclick="$('#InventoryForm').submit()" />
          </div>

        </form>
        {{end}}
        
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">

//
p_InventoryEdit({
  InventoryGroup: {{.InventoryGroup}},
  Factories : {{.Factories}}, // factories option
});


$(document).ready(function(){
  angular.element('._temp_query_box').focus(); 
})
</script>


