@charset "UTF-8";
/*frame*/
html,body,dt,dd,dl{margin:0;padding:0;font-size:14px;line-height:1.8;}
h1{font-size:2.5;color:#fff;}
input[type=text],textarea{font-size:14px;border:1px solid #999;box-shadow:inset 0 2px 3px 1px #ddd;border-radius:5px;padding:3px;}
input[type=button]{padding:5px 20px;font-size:18px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
.clearfix{clear:both;}
.clearfix:after{display:block;content:"";height:0;overflow:hidden;clear:both;}
.vline{margin:0 0.5em;color:#999;}
.f12{font-size:0.8em;}
.header { position:absolute;top:0;left:0;width:100%;height:80px;background:#366;}
.header h1{margin:15px 30px;padding:0;}
.container{margin:80px 0 0;}
.content{margin:0 30px 0 230px;zoom:1;}
/*left menu*/
.menu{width:200px;background:#cFF;position:absolute;left:0;}
.menu dl{padding:10px 30px;}
.menu dt{}
.menu dd{margin:0 1em;}

/*content*/
h2{padding:20px 5px 10px;border-bottom:1px dashed #ccc;}
.price{color:#C00;}
.btn_main{text-align:center;}




.tab{border-bottom:1px solid #3399CC;clear:both;}
.tab:after{display:block;content:"";height:0;overflow:hidden;clear:both;}
.tab a{display:block;float:left;padding:3px 20px;margin:0 10px 0 0;background:#ddd;border-radius:5px 5px 0 0;}
.tab a.cur{background:#3399CC;color:#fff;}
/*新增订单*/
.order_create{float:left;}
input[type=text].odc_custname{border:0;border-bottom:1px solid #000;box-shadow:none;border-radius:0;-webkit-appearance:none}
input[type=text].odc_custname:focus{box-shadow:none}
/*主表单*/
.main_form dl{margin:0 0 10px;}
.main_form dt{float:left;text-align:right;width:6em;}
.main_form dt i{margin-right:3px;color:#f00;font:bold 14px Tahoma;}
.main_form dd{margin-left:6.2em;}
.main_form dd.verify{color:#f00;}

/*主列表*/
.main_tbl{border-collapse:collapse;border-spacing:0;min-width:600px;}
.main_tbl th{border:1px solid #ccc;padding:5px 10px;background:#ddd; white-space:nowrap;}
.main_tbl td{border:1px solid #ccc;padding:5px 10px;}


/* For autocomplete, Add by GB 2013-05-23 */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }