<div class="stat-today">

  <h3>一周销量概况:</h3>

  <if t=".ShowChart">
    <div id="{{.ClientId}}" style="width: 800px; height: 200px;"></div>
    <div id="{{.ClientId}}_2" style="width: 800px; height: 200px;"></div>
  </if>
  
  <table border="1" class="table">
    <thead>
      <tr>
        <th>日期</th>
        <th colspan="2">订单数</th>
        <th colspan="2">销售数量</th>
        <th colspan="2">平均货单价</th>
        <th colspan="2">总价</th>
      </tr>
    </thead>
    {{range .Stats}}
    <tr class="{{$.LineClass .Id}}">
      <td> <!--{ {$.ShowDate .Id | prettyday}}--> {{.Id}} </td>
      <td class="_t"> {{.NOrder}} </td>
      <td class="_l">
        <if t="$.Yestoday .Id">
          / <span class="">{{($.Yestoday .Id).NOrder}}</span>
        </if>
      </td>
      <td class="_t"> {{.NSold}} </td>
      <td class="_l">
        <if t="$.Yestoday .Id">
          / <span class="">{{($.Yestoday .Id).NSold}}</span>
        </if>
      </td>
      <td class="_t"> {{.AvgPrice | prettycurrency}} </td>
      <td class="_l">
        <if t="$.Yestoday .Id">
          / <span class="">{{($.Yestoday .Id).AvgPrice |prettycurrency}}</span>
        </if>
      </td>
      <td class="_t"> {{.TotalPrice | prettycurrency}} </td>
      <td class="_l">
        <if t="$.Yestoday .Id">
          / <span class="">{{($.Yestoday .Id).TotalPrice |prettycurrency}}</span>
        </if>
      </td>
    </tr>
    {{end}}
  </table>
</div>

<if t=".ShowChart">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['日期', '总金额'],
    {{range .Stats}}
    [{{$.ShowDate .Id | prettyday}}, {{.TotalPrice}}],
    {{end}}
  ]);

  var options = {
    title: '金额',
    hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
  };

  var chart = new google.visualization.LineChart(document.getElementById({{.ClientId}}));
  chart.draw(data, options);
}
  </script>
  <script type="text/javascript">
  google.setOnLoadCallback(drawChart2);
function drawChart2() {
  var data = google.visualization.arrayToDataTable([
    ['日期', '订单数', '销售数量' ],
    {{range .Stats}}
    [{{$.ShowDate .Id | prettyday}}, {{.NOrder}}, {{.NSold}}],
    {{end}}
  ]);

  var options = {
    title: '数量 | 订单数'
  };

  var chart = new google.visualization.ColumnChart(document.getElementById("{{.ClientId}}_2"));
  chart.draw(data, options);
}
  </script>
</if>
