<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>

    {{template "header"}}

  </head>
  <body>
    <div class="header">
	  <h1>进销存管理</h1>
    </div>
    <div class="container">

      {{template "left-nav"}}

      {{with $:=.Product}}
      <div class="content">
    	<h2>商品详情：{{.Name}}</h2>
        <div class="product_detail">
          <dl class="clearfix">
            <dt>货号：</dt>
            <dd>{{.ProductId}}</dd>
          </dl>
          <dl class="clearfix">
            <dt>品牌：</dt>
            <dd>{{.Brand}}</dd>
          </dl>
          <dl class="clearfix">
            <dt>销售单价：</dt>
            <dd>{{.Price}}元</dd>
          </dl>
          <dl class="clearfix">
            <dt>供货商：</dt>
            <dd>{{.Supplier}}</dd>
          </dl>
          <dl class="clearfix">
            <dt>供货价格：</dt>
            <dd>{{.FactoryPrice}}元</dd>
          </dl>
          <dl class="clearfix">
            <dt>库存：</dt>
            <dd>{{.Stock}}件</dd>
          </dl>
          <dl class="clearfix">
            <dt>备注：</dt>
            <dd>{{.Note}}</dd>
          </dl>
        </div>
      </div>
      {{end}}

    </div>
    <div class="footer">

    </div>
  </body>
</html>
