{{/*
<html></html>
*/}}


<script type="text/javascript" src="/static/js/c/order/batch_close_order.js"></script>
<a id="{{.ClientId}}_trigger" href="#{{.ClientId}}_modal" data-toggle-x="modal">批量结款</a>


<div id="{{.ClientId}}_modal" class="layer_box modal hide fade">
  <div class="layer_top modal-header">
    <a class="layer_close" title="关闭" href="#" data-dismiss="modal" aria-hidden="true"></a>
    <span>批量结款</span>
  </div>
  <div class="layer_content L_bat_cash modal-body">
    
	<div class="L_account_info clearfix">
	  <strong>{{.Customer.Name}}</strong>
	  <span class="L_overage">账户余额：<span class="price">{{.Customer.AccountBallance}}</span> 元</span>
	</div>
	<div class="form_main">
	  <dl class="clearfix">
		<dt>结账金额：</dt>
		<dd>
		  <input type="text" size="16" value="" class="money"> 
		  <label><input type="checkbox" class="money-clear"> 已结清</label>
		</dd>
	  </dl>
	</div>
	<div class="unclosed-orders">
      <table class="tbl_s">
        <thead>
          <tr>
	        <th align="left">订单号</th>
	        <th align="left">日期</th>
	        <th align="left">订单金额</th>
	      </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div class="L_pager_content">
        <a class="btn_c_s" href="#">上一页</a>
        <a class="btn_c_s" href="#">下一页</a>
      </div>
	</div>
	<div class="layer_btn_content">
	  <a class="btn_a_s submit" href="#">确认</a>
	</div>
  </div>
</div>
<script type="text/javascript">
  // inline javascript example
  function validateCloseForm(id){
    if (confirm("确认结款么？")){
      o = $("#"+id+"_modal input.money")
      if (o.val() == "") {
        alert('必须填写结账金额！')
        o.focus()
        return false
      }
      return true
    } else{
      return false
    }
  }

$(function(){
  bco = new BatchCloseOrder({
    "clientId": {{.ClientId}},
    "customerId" : {{.Customer.Id}},
    "accountBallance": {{.Customer.AccountBallance }},
  })
});
</script>
