{{/*
----------------------------------------------------------------------
-- DeliverModal
-- Description: Open modal box to deliver order
-- Used in OrderList component.
----------------------------------------------------------------------
*/}}

<!-- TODO GOT: JS remove duplicate -->
<script type="text/javascript" src="/static/js/c/order/order_button.js"></script>
<link href="/static/css/layer/layer.css" rel="stylesheet" type="text/css">

<a id="{{.ClientId}}_trigger" href="#{{.ClientId}}_modal" data-toggle-disabled="modal">发货</a>

<div id="{{.ClientId}}_modal" class="layer_box modal hide fade" >
  <div class="layer_top modal-header">
    <a class="layer_close" title="关闭" href="#" data-dismiss="modal" aria-hidden="true"></a>
    <span>发货</span>
  </div>
  <div class="layer_content L_express modal-body">

    <form action="/order/ButtonSubmitHere" method="POST">
      <input type="hidden" name="t:id" value="DeliverForm" />
      <input type="hidden" name="TrackNumber" value="{{.TrackNumber}}" />
      <input type="hidden" name="Referer" value="{{referer .}}" />

	  <div class="form_main">
	    <dl class="clearfix">
		  <dt class="L_method">发货方式：</dt>
          <div class="choose_express">
            <label class="checkedxx">
              <input type="radio" name="DeliveryMethod" value="YTO">
              <span class="icon_yto"></span>
            </label>
            <label>
              <input type="radio" name="DeliveryMethod" value="SF">
              <span class="icon_sf"></span>
            </label>
            <label>
              <input type="radio" name="DeliveryMethod" value="Deppon" />
              <span style="font-size: 14px;vertical-align:middle;">德邦</span>
            </label>
            <label>
              <input type="radio" name="DeliveryMethod" value="Freight" />
              <span style="font-size: 14px;vertical-align:middle;">货运</span>
            </label>
            <label>
              <input type="radio" name="DeliveryMethod" value="TakeAway">
              <span class="icon_pickup"></span>
            </label>
          </div>
	    </dl>
	    <dl class="clearfix">
		  <dt>运单号：</dt>
		  <dd>
		    <input type="text" size="40" class="tracking-number"
                   name="DeliveryTrackingNumber" value="{{.DeliveryTrackingNumber}}">
		  </dd>
	    </dl>
	    <dl class="clearfix B_fare">
		  <dt>运费：</dt>
		  <dd>
            <input type="number" size="10" class="express-fee" max="10000"
                   name="ExpressFee" value="{{.ExpressFee}}">
		    <label><input type="checkbox" class="daofu" name="DaoFu"> 到付</label>
		  </dd>
	    </dl>
	    <dl class="clearfix">
		  <dd>
		    <input type="submit" class="btn_a_s confirm" value="确认">
		  </dd>
	    </dl>
	  </div>
    </form>

  </div>
</div>
<script type="text/javascript">
  $(function(){
    ol = new OrderDeliverButton({
      id: "{{.ClientId}}",
      DeliveryMethod : {{.DeliveryMethod}},
      DeliveryTrackingNumber: {{.DeliveryTrackingNumber}},
      ExpressFee : {{.ExpressFee}},
    })
    ol.setExpressFix({{.ClientId}}, {{.DeliveryMethod}}, {{.ExpressFee}})
  });
</script>
