
{{/*
----------------------------------------------------------------------
DeliverModal -- open modal box to close order
---------------------------------------------------------------------------
*/}}

<div id="closeModal" class="layer_box modal hide fade">
  <div class="layer_top modal-header">
    <a class="layer_close close" title="关闭" href="#" data-dismiss="modal" aria-hidden="true"></a>
    <span>快速结款</span>
  </div>
  <div class="layer_content L_fast_cash modal-body">
	<div class="L_account_info clearfix">
	  <strong>喜乐</strong>
	  <span class="L_overage">账户余额：<span class="price">1，000.00</span> 元</span>
	</div>
	<div class="form_main">
	  <dl class="clearfix">
		<dt class="L_order_price">订单金额：</dt>
		<dd>
		  <strong class="price">1，450.00</strong> 元
		</dd>
	  </dl>
	  <dl class="clearfix">
		<dt>结账：</dt>
		<dd>
		  <input type="text" size="16" value=""> 
		  <!--<label><input type="checkbox"> 已结清</label>-->
		</dd>
	  </dl>
	  <dl class="clearfix">
		<dd>
		  <a class="btn_a_s confirm" href="#">确认</a>
		</dd>
	  </dl>
	</div>
  </div>
</div>
