<!-- Order Details Form -->

<script type="text/javascript" src="/static/js/c/order/order_details_form.js"></script>

<table class="tbl_main order-form-container">
  <thead>
    <tr>
      <th align="left">商品名称</th>
      <th align="left">单价</th>
      <th align="left">颜色</th>
      <th align="left">尺码</th>
      <th align="left">数量</th>
      <th align="center">合计数量</th>
      <th align="right">合计金额</th>
      <th align="left">备注</th>
      <th align="left">操作</th>
    </tr>
  </thead>

  <tbody>
    <!--
        <tr>
          <td valign="top" rowspan="4"><strong>绣虎头</strong></td>
          <td valign="top" rowspan="4"><span class="price">138.00</span></td>
          <td>红色</td>
          <td>M</td>
          <td>5</td>
          <td valign="top" align="center" rowspan="4"><strong>20</strong></td>
          <td valign="top" align="right" rowspan="4"><strong class="price">2,760.00</strong></td>
          <td valign="top" rowspan="4">-</td>
          <td valign="top" rowspan="4"><a href="#">编辑</a><span class="vline">|</span><a href="#">删除</a></td>
        </tr>
        <tr>
          <td>红色</td>
          <td>L</td>
          <td>5</td>
        </tr>
        <tr>
          <td>黑色</td>
          <td>L</td>
          <td>5</td>
        </tr>
        <tr>
          <td>绿色</td>
          <td>XL</td>
          <td>5</td>
        </tr>
        <tr>
          <td valign="top" rowspan="1"><strong>鲸鱼宝宝</strong></td>
          <td valign="top" rowspan="1"><span class="tag_price_lower" title="原价88元"></span><span class="price">78.00</span></td>
          <td>-</td>
          <td>-</td>
          <td>5</td>
          <td valign="top" align="center" rowspan="1"><strong>5</strong></td>
          <td valign="top" align="right" rowspan="1"><strong class="price">360.00</strong></td>
          <td valign="top" rowspan="1">备注信息备注信息</td>
          <td valign="top" rowspan="1"><a href="#">编辑</a><span class="vline">|</span><a href="#">删除</a></td>
        </tr>
        <tr>
          <td valign="top" rowspan="1"><strong>糖果小开衫</strong></td>
          <td valign="top" rowspan="1"><span class="price">80.00</span></td>
          <td>绿色</td>
          <td>-</td>
          <td>10</td>
          <td valign="top" align="center" rowspan="1"><strong>10</strong></td>
          <td valign="top" align="right" rowspan="1"><strong class="price">800.00</strong></td>
          <td valign="top" rowspan="1">-</td>
          <td valign="top" rowspan="1"><a href="#">编辑</a><span class="vline">|</span><a href="#">删除</a></td>
        </tr>
      -->  
  </tbody>
  <tfoot>
    <tr class="total">
      <td valign="top" align="right"><strong>总计</strong></td>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
      <td valign="top" align="center" rowspan="1"><strong class="sumQuantity">35</strong></td>
      <td valign="top" align="right" rowspan="1"><strong class="price sumPrice">3,920.00</strong></td>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
    </tr>
  </tfoot>
</table>

