
<!-- Import javascript. TODO got this -->

<!-- suggest control -->
<script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="/static/js/suggest-control.js"></script>

<script type="text/javascript" src="/static/js/c/product_cst_generator.js"></script>
<script type="text/javascript" src="/static/js/c/order/order_product_selector.js"></script>

<!-- core part -->
<div class="unit product-selector">
  <div class="tit"><strong>选择商品</strong></div>
  <div class="B_prd_choose">输入商品名称：
    <input type="hidden" class="product-id" />
    <input type="text" class="product-trigger" size="45" autocomplete="off" />
  </div>
  <table class="B_prd_att">
	<tr>
	  <td>

        <div id="cs-container" desc="Order Product Selector">
          <!-- TODO: may cause id conflict, auto this -->
		  <table class="tbl_s">
		    <tr>
			  <th align="left">颜色</th>
			  <th align="left">尺码</th>
			  <th align="left">数量</th>
		    </tr>
            <!--
	            <tr>
			      <td rowspan="2">白色</td>
			      <td>M</td>
			      <td><input type="text" size="8" value=""></td>
		        </tr>
		    <tr>
			  <td>L</td>
			  <td><input type="text" size="8" value=""></td>
		    </tr>
            -->
		  </table>
        </div>
        
	  </td>
	  <td>
		<div class="B_prd_price">
		  <p class="price">0.00</p>
		  <p class="B_info info"></p>
		</div>
	  </td>
	  <td>
		<p class="B_text">填写商品备注</p>
		<textarea class="notes" rows="3" cols="50"></textarea>
	  </td>    
	</tr>
	<tr>
	  <td class="B_btn" colspan="3" align="center">
        <input type="button" class="btn_b_s ops-add" value="加入订单" />
      </td>
	</tr>
  </table>
</div>

<script type="text/javascript">
  // $(function(){
  //   new OrderProductSelector({{.CustomerId}})
  // });
</script>
