<!DOCTYPE HTML>
<div class="tbl_list">
  <table border="1" style="border-collapse: collapse;border-color: #ddd;">
    <tr>
      <th>订单号</th>
      <th>客户姓名</th>
      <th>订单数量</th>
      <th>订单金额</th>
      <th>订单状态</th>
      <th>运输</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>

    {{if len .Orders | not}}
    <tr><td colspan="8">无记录</td></tr>
    {{else}}

    {{range .Orders}}
    <tr>
      <td>{{.TrackNumber}}</td>
      <td>{{$.ShowCustomerName .CustomerId}}</td>
      <td align="right">{{.TotalCount}}</td>
      <td align="right">{{.TotalPrice | beautycurrency}}</td>
      <td>{{.Status}}</td>
      <td>{{.DeliveryMethod}}</td>
      <td>{{.CreateTime | beautytime}}</td>
      <td>
        <a href="/order/edit/{{.Id}}">修改</a>
        <a href="#">发货</a>
      </td>
    </tr>
    {{end}}

    {{end}}

  </table>
</div>
