@charset "utf-8";
@import "../../css/global/base.css";
@import "../../css/global/frame.css";
@import "../../css/module/leftmenu.css";
@import "../../css/module/form_main.css";
@import "../../css/module/unit.css";
@import "../../css/module/tbl_s.css";

.PG_create_product .unit{margin:40px 0 20px;}
.PG_create_product .form_main{margin:20px 0;}
.PG_create_product .btn_content{margin-bottom:100px;}
.PG_create_product .B_prd_attr{margin-bottom:10px;margin-right:20px;}
/*产品属性*/
.B_prd_attr{background:#f1f1f1;border:1px solid #d5d5d5;padding:10px;overflow:hidden;}
.B_prd_attr h4{margin:0 0 8px;}
.B_prd_attr .mar_t{margin-top:15px;}
.B_prd_attr li{float:left;margin-right:20px;position:relative;}
.B_prd_attr li .B_btn_del{position:absolute;right:6px;top:6px;visibility:hidden;background:#F60 url(../../images/icons/prd_attr_close.png);width:14px;height:14px;display:inline-block;border-radius:3px;text-align:center;cursor:pointer;}
.B_prd_attr li:hover .B_btn_del{visibility:visible;}
.B_prd_attr li:hover .B_btn_del:hover{background-color:#FC3;}
.B_prd_attr .B_btn_del b{font:bold 14px Tahoma, Geneva, sans-serif;top:-3px;display:inline-block;color:#fff;position:relative;}
.B_prd_attr .B_btn_add{background:#239fdb url(../../images/icons/btn_add.png) no-repeat 4px 5px;box-shadow:0 1px 2px rgba(0,0,0,.6),inset 0 -2px 0 #1d85b8;width:23px;height:23px;display:inline-block;border-radius:12px;text-align:center;cursor:pointer;}
.B_prd_attr .B_btn_add:hover{background-color:#35c1db;box-shadow:0 1px 2px rgba(0,0,0,.6),inset 0 -2px 0 #2ea8bf;}

