<!-- Time-stamp: <[InventoryProductSelector.html] Elivoa @ Saturday, 2015-01-10 15:28:47> -->
<!--
    <!DOCTYPE HTML>
<html ng-app="syd">
  <head></head>
  <body >

    -->
<div id="{{.ClientId}}" ng-controller="InventoryProductSelectorCtrl" >

  <div style="border-bottom:solid 1px red;margin:20px;padding 8px;">
    发货单序号: {{.GroupId}}
  </div>

  <div style="margin:8px;padding 8px;">
    <label>输入产品：<input type="text" ng-model="quickinput" size="45" /></label>
  </div>
  
  <if t="len .Inventories | not">
    <div class="tips_content"><i class="icon_warning"></i> No Records</div>

    <else/>
    
    <table class="tbl_main" width="100%">
      <tr>
        <!-- <th width="10" align="left"> <input type="checkbox" class="check-all"> </th>  -->
        <th align="left">ID</th>
        <th align="left">货单</th>
        <th align="left">货品</th>
        <th align="left">颜色</th>
        <th align="left">尺码</th>
        <th align="left">数量</th>
        <th align="left">厂家</th>
        <th align="left">操作员</th>
        <th align="left">状态</th>
        <th align="left">类型</th>
        <th aplign="left">发货日期<br />到货日期</th>
        <th>备注</th>
        <th align="left" style="width:80px;">操作</th>
      </tr>

      <tr>
        <!-- <span style="color:#666"> DEV: ([[Inventories]])</span> -->
      </tr>

      <tr ng-repeat="inv in Inventories track by $index">
        <td>[[inv.Id]]</td>
        <td nowrap>
          <a href="/inventory/view/[[inv.Id]]">[[inv.GroupId]]</a>
        </td>
        <!-- <td nowrap>[[inv.Id]]</td> -->

        <td ng-if="inv">
          <span ng-if="inv.Product.ProductId">
            [[inv.Product.ProductId]]#<br/>
          </span>
          [[inv.Product.Name]]
        </td>
        <td ng-if="!inv"><<[[inv.ProductId]]>></td>

        <td>[[inv.Color]]</td>
        <td>[[inv.Size]]</td>
        <td>[[inv.Stock]]</td>

        <td ng-if="inv.Provider">[[inv.Provider.Name]]</td>
        <td ng-if="!inv.Provider"><<[[inv.ProviderId]]>></td>

        <td ng-if="inv.Operator">[[inv.Operator.Username]]</td>
        <td ng-if="!inv.Operator"><<[[inv.OperatorId]]>></td>

        <td>[[inv.Status]]</td>
        <td>[[inv.Type]]</td>

        <td nowrap title="发: [[inv.SendTime]] &#10;到: [[inv.ReceiveTime]]">
          <!-- SendTime|validtime TODO: format date -->
          <span ng-if="inv.SendTime">[[inv.SendTime]]<br /></span>
          <span ng-if="inv.ReceiveTime">[[inv.ReceiveTime]]</span>
        </td>
        <!-- TODO: truncate 40 -->
        <td title="[[inv.Note]]">[[inv.Note]]</td>
        <td>EDIT...</td>

      </tr>

    </table>
  </if>

</div>

<!-- TODO 需要统一的资源管理办法； --> 
<script src="/static/js/angular.min.js" ></script>
<script src="/static/js/angular.init.js" ></script>
<script src="/static/js/c/inventory/inventory_product_selector.js" ></script>
<script type="text/javascript">
  console.log('{{.Inventories}}');
ngRegisterComponent({
  name: "InventoryProductSelector",
  init: function(app){
    $InventoryProductSelector(app, {
      Inventories: {{.Inventories}},
    });
  }
});


</script>

<!--
    </body>
</html>
-->
