<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>

    {{t_layout_header $}}

  </head>
  <body>
    <div class="header">
	  <h1>进销存管理</h1>
    </div>
    <div class="container">

      {{t_layout_leftnav $}}

      <div class="content">
    	<h2>订单列表</h2>

        <div class="tab">
          <a class='{{$.TabCurrentStyle "New"}}' href="/order/list/New">待处理订单</a>
          <a class='{{$.TabCurrentStyle "Delivering"}}' href="/order/list/Delivering">已发货订单</a>
          <a class='{{$.TabCurrentStyle "Closed"}}' href="/order/list/Closed">已完成订单</a>
          <a class='{{$.TabCurrentStyle "All"}}' href="/order/list/All">全部订单</a>
        </div>
        <!--搜索条件
		    <div class="filter">
        	  <dl>
                <dt>
                  付款状态
                </dt>
                <dd>
                  <select>
                    <option>未付款</option>
                    <option>已付款</option>
                  </select>
                </dd>
              </dl>
            </div>
            -->

        <div class="tbl_list">
          <table border="1" style="border-collapse: collapse;border-color: #ddd;">
            <tr>
              <th>订单号</th>
              <th>客户姓名</th>
              <th>订单数量</th>
              <th>订单金额</th>
              <th>订单状态</th>
              <th>运输</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>

            {{if len .Orders | not}}
            <tr><td colspan="8">无记录</td></tr>
            {{else}}

            {{range .Orders}}
            <tr>
              <td>{{.TrackNumber}}</td>
              <td>{{$.ShowCustomerName .CustomerId}}</td>
              <td align="right">{{.TotalCount}}</td>
              <td align="right">{{.TotalPrice | beautycurrency}}</td>
              <td>{{.Status}}</td>
              <td>{{.DeliveryMethod}}</td>
              <td>{{.CreateTime | beautytime}}</td>
              <td>
                <a href="/order/edit/{{.Id}}">修改</a>
                <a href="#">发货</a>
              </td>
            </tr>
            {{end}}

            {{end}}

          </table>
        </div>

      </div>
    </div>
    <div class="footer">

    </div>
  </body>
</html>
