<!DOCTYPE HTML>
<html>
  <head>
    <link href="/static/css/pages/pg_detail_order.css" rel="stylesheet" type="text/css">
    {{t_layout_header $ "Title" `查看订单详情`}}
  </head>
  <body class="PG_detail_order">

    {{t_layout_headernav $}}

    <div class="container">

      {{t_layout_leftnav $ "CurPage" `/order/list`}}

      <div class="main_content">
    	<h1>订单编号：{{.Order.TrackNumber}} </h1>

        <div class="tips_content tips_content_b">
          <span class="icon_warning"></span>
          {{if .Order.IsStatus "toprint"}}
          <strong>待发货订单，</strong>新订单，待打印。打印之后变成待发货发货状态！
          {{end}} {{if .Order.IsStatus "todeliver"}}
          <strong>待发货订单，</strong>商品等待发货，累计欠款为当前该客户欠款，你还可以修改订单。发货后状态锁定！
          {{end}} {{if .Order.IsStatus "delivering"}}
          <strong>已发货订单，</strong>商品已经发出，订单详情页为该订单快照，累计欠款及商品单价为订单创建时的状态！
          {{end}} {{if .Order.IsStatus "done"}}
          <strong>已完成订单，</strong>订单详情页为该订单快照，累计欠款及商品单价为订单创建时的状态！
          {{end}} {{if .Order.IsStatus "canceled"}}
          <strong>已取消订单，</strong>订单已经取消！
          {{end}}
        </div>
        
        <div class="unit">
          <div class="tit"><strong>客户信息</strong></div>
          <div class="B_person_info">
            <span class="B_overdraft">累计欠款：
              <strong class="price">{{.Order.Accumulated | prettycurrency}}</strong>元
            </span>
            <strong>
              <a href="/person/detail/{{.Customer.Id}}" target="_blank">{{.Customer.Name}}</a>
            </strong>，
            {{.Customer.City}}, {{.Customer.Address}} {{.Customer.Phone}}
          </div>
        </div>

        <div class="">
          <t:order.DetailsForm />

          <!-- times -->
          <ul>
            <li>订单创建时间：{{.Order.CreateTime | prettytime}}</li>
            <li>订单修改时间：{{.Order.UpdateTime | prettytime}}</li>
            <if t='.Order.StatusIs "Closed"'>
              <li>订单关闭时间：{{.Order.CloseTime | prettytime}}</li>
            </if>
          </ul>
        </div>
        
        <div class="unit">
          <div class="tit"><strong>发货方式</strong></div>
          <div class="B_express">
			<span class="B_shipping_method">
              <if t='.Order.DeliveryMethodIs "YTO"'><span class="icon_yto"></span></if>
              <if t='.Order.DeliveryMethodIs "SF"'><span class="icon_sf"></span></if>
              <if t='.Order.DeliveryMethodIs "TakeAway"'><span class="icon_pickup"></span></if>
            </span>
            <if t='.Order.IsDaoFu | not'>
			  <span class="B_shipping_price">运费：<span class="price">{{.Order.ExpressFee}}</span>元</span>
            </if>
            <if t='.Order.IsDaoFu'>
              到付
            </if>
			<span class="B_order_num">运单号：{{.Order.DeliveryTrackingNumber}}</span>
          </div>
        </div>

        <div class="unit">
          <div class="tit"><strong>合计</strong></div>
          <div class="B_express">
            <span>{{.Order.TotalPrice}}</span>
            <if t='not .Order.IsDaoFu'>
              + <span>{{.Order.ExpressFee}}</span> =
              <span class="price">{{.Order.SumOrderPrice}}</span>
            </if>
            <span>元</span>
          </div>
        </div>
        
		<div class="unit">
          <div class="tit"><strong>订单备注</strong></div>
		  <div class="B_order_remark">
			abcde
		  </div>
		</div>
        <div class="btn_content"><a class="btn_b_l" href="#">返回订单列表</a></div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  $(function(){
    odf = new OrderDetailsForm(false)
    odf.setData({{.ProductDetailJson}})
  });
</script>
