<!DOCTYPE HTML>
<html>
  <head>
  <head>
    <link href="/static/css/pages/pg_create_order.css" rel="stylesheet" type="text/css">
    <link href="/static/css/pages/gb.css" rel="stylesheet" type="text/css">
    <t:layout.header title="客户资料" />
  </head>
  <body class="PG_create_order">
    <t:layout.headernav />
    <div class="container">
      <t:layout.leftnav curpage="/person/list/customer" />

      <div class="main_content">

        <div class="section" style="float:right">
          <h2>账户余额:
            <small class="price">{{.Person.AccountBallance | prettycurrency}}元</small>
            工具: <a href="/person/EditAccountBallance/{{.Person.Id}}">【修改账户余额】</a>
          </h2>
        </div>
        <br class="spliter" />

        <h1 style="float:left">{{.Person.Name}}
          {{if .Person.IsFactory}} (供货商) {{end}}
          <small> | </small>
          <small><a href="/person/edit/{{.Person.Id}}">修改资料</a></small>
        </h1>
        <div style="clear:both"></div>
        <t:person.CustomerProfileCard customer=".Person" />

        <div class="section">
          <h2>今日留言:
            <small>
              【{{.Person.Name}}】今天有 {{len .TodayOrders}} 个留言；
            </small>
            {{/* Note is trackNumber */}}
          </h2>

          {{/* TODO: range .xxx filter ..... */}}
          
          
          {{range .TodayOrders}}
          {{/* TODO: Auto set loop variable when loop */}}
          <if t="$.ShouldShowLeavingMessage .">
            <div class="messagebox">
              <h4>订单号 {{if .TypeIs 2}}(代发){{end}}： {{.TrackNumber}}</h4>
              今日发货：{{$.LeavingMessage .}}
            </div>
          </if>
          {{end}}
          
          <div class="messagebox">
            <br />
            <br />
            注 1：自动选择当天的订单。<br>
            注 2：代发订单：目前暂时不支持【代发订单】的消息生成。<br>
            * 以下为每天多个大货订单时的注意事项：<br>
            注 3：发货方式：多个订单的发货方式应该都一致；如果不一致随机选择一个显示。快递单号拼接；<br>
            注 4：累计欠款：累计欠款取各订单中最大的值。请仔细检查累积欠款是否正确！<br>
          </div>
        </div>
        <br class="spliter" />

        <div class="section">
          <h2>所有 {{.Person.Name}} 的订单:</h2>
          <div>
            <t:order.list orders=".Orders" />
          </div>
        </div>
        <br class="spliter" />
        
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>


