<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>

    {{t_layout_header $}}

    <script type="text/javascript" src="/static/js/p/product/product_edit.js"></script>

  </head>
  <body>
    <div class="header">
	  <h1>进销存管理</h1>
    </div>
    <div class="container">

      {{t_layout_leftnav $}}

      <div class="content">
    	<h2>{{.SubTitle}}商品</h2>
        <div class="main_form">

          {{with .Product}}
          <form method="POST" id="ProductForm" t:id="ProductForm" action="">
            <input type="hidden" name="Product.Id" value="{{.Id}}" />
            {{/* [tmp] support redirect to form */}}
            <input type="hidden" name="t:form" value="ProductForm" />

            <dl class="clearfix">
              <dt><i>*</i>商品名称：</dt>
              <dd>
                <input type="text" name="Product.Name" value="{{.Name}}" size="30">
              </dd>
              <dd class=""></dd>
            </dl>

            <!-- ******************************************************** -->
            <hr/>

            <div id="color-area" class="mt-container">
              {{range .Colors}}
              <dl class="clearfix mt-line">
                <dt>颜色：</dt>
                <dd>
                  <input type="text" name="Product.Colors" value="{{.}}"
                         size="15">
                  <a href="#" class="mt-remove">delete</a>
                </dd>
                <dd></dd>
              </dl>
              {{end}}
              <dl><a href="#" class="mt-add">ADD</a><dl>
            </div>

            <div id="size-area" class="mt-container">
              {{range .Sizes}}
              <dl class="clearfix mt-line">
                <dt>尺码：</dt>
                <dd>
                  <input type="text" name="Product.Sizes" value="{{.}}"
                         size="15">
                  <a href="#" class="mt-remove">delete</a>
                </dd>
                <dd></dd>
              </dl>
              {{end}}
              <dl><a href="#" class="mt-add">ADD</a><dl>
            </div>

            <!-- ******************************************************** -->


            <hr/>
            
            <dl class="clearfix">
              <dt>货号：</dt>
              <dd><input type="text" name="Product.ProductId" value="{{.ProductId}}" size="30"></dd>
              <dd></dd>
            </dl>
            <dl class="clearfix">
              <dt>品牌：</dt>
              <dd><input type="text" name="Product.Brand" value="{{.Brand}}" size="12"></dd>
              <dd></dd>
            </dl>
            <dl class="clearfix">
              <dt>销售单价：</dt>
              <dd><input type="text" name="Product.Price" value="{{.Price}}" size="12"></dd>
              <dd></dd>
            </dl>
            <dl class="clearfix">
              <dt>供货商：</dt>
              <dd>
                {{t_suggestcontrol $ "name" "Product.Supplier" "value" .Supplier "category" "factory"}}
                <!--
                    <input type="text" size="12"
                           name="Product.Supplier" value="{{.Supplier}}">
                    -->
              </dd>
              <dd></dd>
            </dl>
            <dl class="clearfix">
              <dt>供货价格：</dt>
              <dd><input type="text" name="Product.FactoryPrice" value="{{.FactoryPrice}}" size="12"><a href="">历史价格查询</a></dd>
              <dd class=""></dd>
            </dl>
            <dl class="clearfix">
              <dt>库存件数：</dt>
              <dd><input type="text" name="Product.Stock" value="{{.Stock}}" size="12"></dd>
              <dd></dd>
            </dl>
            <dl class="clearfix">
              <dt>备注：</dt>
              <dd><textarea name="Product.Note">{{.Note}}</textarea></dd>
              <dd></dd>
            </dl>
            <dl class="clearfix">
              <dt></dt>
              <dd><input type="submit" value="提交"></dd>
              <dd></dd>
            </dl>
          </form>
          {{end}}

        </div>
      </div>
    </div>
    <div class="footer">

    </div>
  </body>
</html>
