<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    
    {{t_layout_header $}}
    <script type="text/javascript" src="/static/js/p/product/product_edit.js"></script>
    
  </head>
  <body>
    <div class="header">
	  <h1>进销存管理</h1>
    </div>

    <div class="container">

      {{t_layout_leftnav $}}

      <div class="content">
    	<h2>{{.SubTitle}}商品</h2>
        <div class="main_form">

          {{with .Product}}

          <form method="POST" id="ProductForm" t:id="ProductForm" action="">
            <input type="hidden" name="Product.Id" value="{{.Id}}" />
            {{/* [tmp] support redirect to form */}}
            <input type="hidden" name="t:form" value="ProductForm" />


            <div class="prd_form">
              <h3><i>商品基础信息</i></h3>
              <dl class="clearfix">
                <dt><i>*</i>商品名称：</dt>
                <dd>
                  <input type="text" name="Product.Name" value="{{.Name}}" size="45">
                </dd>
                <dd class=""></dd>
              </dl>
              <dl class="clearfix">
                <dt>货号：</dt>
                <dd>
                  <input type="text" name="Product.ProductId" value="{{.ProductId}}" size="12">
                </dd>
                <dd></dd>
              </dl>
              <dl class="clearfix">
                <dt>品牌：</dt>
                <dd>
                  <input type="text" name="Product.Brand" value="{{.Brand}}" size="12">
                </dd>
                <dd></dd>
              </dl>
              <dl class="clearfix">
                <dt>销售单价：(TODO:Move)</dt>
                <dd>
                  <input type="text" name="Product.Price" value="{{.Price}}" size="12">
                </dd>
                <dd></dd>
              </dl>

              <!-- THIS IS PRODUCT COLOR & SIZE SELECTOR -->
              
              <dl class="clearfix">
                <dt>商品规格：</dt>
                <dd class="prd_attr">
                  <div>
                    <h4>颜色</h4>
                    <ul id="color-area" class="prd_attrlist mt-container">
                      {{range .Colors}}
                      <li class="mt-line">
                        <input type="text" name="Product.Colors" value="{{.}}"
                               size="12" class="csq-trigger"/>
                        <a class="btn_del mt-remove" href="#"><b>x</b></a>
                      </li>
                      {{end}}
                      <li class="add">
                        <a href="###" class="btn_add mt-add"><b>+</b></a>
                      </li>
                    </ul>
                  </div>
                  <div class="clear" style="height:10px;"></div>

                  <div>
                    <h4>尺码（不填为均码）</h4>
                    <ul id="size-area" class="prd_attrlist mt-container">
                      {{range .Sizes}}
                      <li class="mt-line">
                        <input type="text" name="Product.Sizes" value="{{.}}"
                               size="12" class="csq-trigger"/>
                        <a class="btn_del mt-remove" href="#"><b>x</b></a>
                      </li>
                      {{end}}
                      <li class="add">
                        <a href="###" class="btn_add mt-add"><b>+</b></a>
                      </li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                  
                </dd>
                <dd>
                  <div id="cs-container">

                    <!-- Generated Table, input quantity here [NO USE HERE] -->
                    <table class="prd_tbl" style="display:none">
                      <tr>
                        <th align="left">颜色</th>
                        <th align="left">尺码</th>
                        <th align="left">数量</th>
                      </tr>
                      <tr>
                        <td rowspan="2">白色</td>
                        <td>M</td>
                        <td><input type="text" class="stock" size="8" value=""></td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td><input type="text" size="8" value=""></td>
                      </tr>
                    </table>
                    <!-- ABOVE IS ONLY AN EXAMPLE! -->
                    
                  </div>
                </dd>
              </dl>
            </div>
            
            <div class="prd_form">
              <h3><i>商品图片</i></h3>
              <dl class="clearfix">
                <dt>图片：</dt>
                <dd><input type="file" size="12"></dd>
                <dd></dd>
              </dl>
            </div>
            <div class="prd_form">
              <h3><i>供货商信息</i></h3>
              <dl class="clearfix">
                <dt>供货商：</dt>
                <dd>
                  {{t_suggestcontrol $ "name" "Product.Supplier" "value" .Supplier "category" "factory"}}
                </dd>
                <dd></dd>
              </dl>
              <dl class="clearfix">
                <dt>供货价格：(TODO)</dt>
                <dd><input type="text" size="12"><a href="">历史价格查询</a></dd>
                <dd class=""></dd>
              </dl>
            </div>
            <div class="prd_form">
              <h3><i>备注信息</i></h3>
              <div class="clear">
                <textarea name="Product.Note" cols="80" rows="4">{{.Note}}</textarea>
              </div>
            </div>
            <div class="btn_main"><input type="submit" value="提交新商品"></div>

          </form>
          {{end}}
          
        </div>
      </div>
    </div>

    <div class="footer"></div>

    <script type="text/javascript">
  $(function() {
    pe =  new ProductEdit({{.StockJson}});
  });
    </script>
    
  </body>
</html>


