<!DOCTYPE HTML>
<!--
    Time-stamp: <[ProductEdit.html] Elivoa @ Sunday, 2015-01-25 22:33:26>
    NG-enabled;
  -->

<html ng-app="syd">
  <head>
    <link href="/static/css/pages/pg_create_product.css" rel="stylesheet" type="text/css">
    <t:layout.header title="新增订单" />
    <!-- <script type="text/javascript" src="/static/js/c/product_cst_generator.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/p/product/product_edit.js"></script> -->
  </head>

  <body ng-controller="ProductCtrl" class="PG_create_product" >
    <t:layout.headernav />

    <div class="container">
      <t:layout.leftnav curPage="/product/create" />

      <div class="main_content">
        
        {{with .Product}}

        <form method="POST" name="ProductForm" ng-submit="submit()" action=""
              t:id="ProductForm" id="ProductForm" >
          <input type="hidden" name="Product.Id" value="{{.Id}}" />
          {{/* [tmp] support redirect to form */}}
          <input type="hidden" name="t:id" value="ProductForm" />

    	  <h1>{{$.SubTitle}}商品</h1>
          <div class="unit">
            <div class="tit"><strong>商品基础信息</strong></div>
            <div class="form_main">
              <dl class="clearfix">
                <dt><i>*</i>商品名称：</dt>
                <dd>
                  <input type="text" ng-model="Product.Name" size="45" />
                </dd>
                <dd class=""></dd>
              </dl>
              <dl class="clearfix">
                <dt>货号：</dt>
                <dd>
                  <input type="text" ng-model="Product.ProductId" size="12">
                </dd>
                <dd></dd>
              </dl>
              <dl class="clearfix">
                <dt>货架号：</dt>
                <dd>
                  <input type="text" ng-model="Product.ShelfNo" size="12">
                </dd>
                <dd></dd>
              </dl>
              <dl class="clearfix">
                <dt>品牌：</dt>
                <dd>
                  <input type="text" ng-model="Product.Brand" size="12">
                </dd>
                <dd></dd>
              </dl>
              <dl class="clearfix">
                <dt>销售单价：</dt>
                <dd>
                  <input type="number" ng-model="Product.Price" size="12">
                </dd>
                <dd></dd>
              </dl>

              <!-- THIS IS PRODUCT COLOR & SIZE SELECTOR -->

              <dl class="clearfix">
                <dt>商品规格：</dt>
                <dd class="B_prd_attr">
                  <h4>颜色（不填为默认颜色）</h4>
                  <ul class="clearfix mt-container" id="color-area">
                    <li ng-repeat="Color in Colors track by $index" class="mt-line">
                      <input type="text" ng-model="Color.Value" name="Product.Colors" size="12" />
                      <a class="B_btn_del mt-remove" ng-click="removeColor($index)"></a>
                    </li>
                    <li class="add">
                      <a class="B_btn_add mt-add" ng-click="addColor()"></a>
                    </li>
                  </ul>

                  <h4 class="mar_t">尺码（不填为均码）</h4>
                  <ul class="clearfix mt-container" id="size-area">
                    <li ng-repeat="Size in Sizes track by $index" class="mt-line">
                      <input type="text" ng-model="Size.Value" name="Product.Sizes" size="12" />
                      <a class="B_btn_del mt-remove" ng-click="removeSize($index)"></a>
                    </li>
                    <li class="add">
                      <a class="B_btn_add mt-add" ng-click="addSize()"></a>
                    </li>
                  </ul>
                </dd>

                <dd>
                  <div id="cs-container">
                    <!-- Generated Table, input quantity here [NO USE HERE] -->

                    <table class="tbl_s">
                      <thead>
                        <tr>
                          <th align="left">颜色</th>
                          <th align="left">尺码</th>
                          <th align="left">数量</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="color in Colors track by $index" ng-init="c = $index">
                        <tr ng-repeat="size in Sizes track by $index">
                          <td rowspan="[[Sizes.length]]" ng-show="$first">[[color.Value]]</td>
                          <td>[[size.Value]]</td>
                          <td>
                            <input type="number" size="8" value="[[stock(color.Value, size.Value)]]"
                                   name="Stocks" xxx-ng-model="Stocks[color.Value][size.Value]"/>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
          <div class="unit">
            <div class="tit"><strong>商品图片</strong></div>
            <div class="form_main">
              <dl class="clearfix">
                <dt>图片：</dt>
                <dd>
                  <!-- <input type="file" size="12"> -->
                  <t:fileupload tid="fileupload" name="Pictures" folder="product-pic" restore=".PictureKeys"
                                style="width:480px" />
                  <hide>{{t_fileupload $ "tid" `fileupload` "name" `Pictures` "folder" `product-pic` "restore" .PictureKeys "style" "width:480px"}}</hide>
                  
                </dd>
                <dd></dd>
              </dl>
            </div>
          </div>
          <div class="unit">
            <div class="tit"><strong>供货商信息</strong></div>
            <div class="form_main">
              <dl class="clearfix">
                <dt>供货商：</dt>
                <dd>
                  <t:suggestcontrol name="Product.Supplier" value=".Supplier" category="factory" />
                  <hide>{{t_suggestcontrol $ "name" "Product.Supplier" "value" .Supplier "category" "factory"}}</hide>
                </dd>
                <dd></dd>
              </dl>
              <dl class="clearfix">
                <dt>供货价格：</dt>
                <dd><input type="text" size="12"> <a href="">历史价格查询</a></dd>
                <dd class=""></dd>
              </dl>
            </div>
          </div>
          <div class="unit">
            <div class="tit"><strong>其他信息</strong></div>
            <div class="form_main">
              <dl class="clearfix">
                <dt>备注：</dt>
                <dd>
                  <textarea name="Product.Note" cols="80" rows="4">{{.Note}}</textarea>
                </dd>
                <dd></dd>
              </dl>
            </div>
          </div>
          <div class="btn_content">
            <input type="submit" class="btn_a_l" value="提交新商品" />
          </div>

        </form>
        {{end}}

        
      </div>
    </div>
    <script src="/static/js/angular.min.js" ></script>
    <script src="/static/js/p/product/product_edit_ng.js" ></script>
  </body>
</html>

<script type="text/javascript">

//
p_ProductEdit({
  Product: {{.Product}},
  Colors: {{.Colors}},
  Sizes: {{.Sizes}}
});
</script>


